<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @client.first %>
</p>

<p>
  <b>Last:</b>
  <%= @client.last %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Location:</b>
  <%= @client.location %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
